.audition {
    padding-left: 25px;
    margin-top: 50px
}

#auditionTitle{
    font-size: 35px
}

.row{
    display: block
}

.audition{
    margin-bottom: 200px
}

.register{
    margin-top: 15px;
    background-color: lavender 
}

#successReg{
    font-size: 25px;
}

.success{
    background-color: #BFB2E5;
}
