.row{
    display: block;
}

.audition{
    margin-bottom: 200px
}


.question {
    margin-top: 10px;
}

.auditionPassedWrap {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #e76b69
}

.auditionPassedMessage{
    color: white;
    padding: 0;
    font-size: 18px;
    margin: 0;
    letter-spacing: .3px;
}

.table-drag-select{
    width: 100%;
}


.success{
    background-color: lavender
}

.successCard{
    margin-top: 10px
}

#number{
    font-size: 65px;
    margin: 0
}

#regCard{
    text-align: center;
    width: 300px
}

#numArea{
    padding: 0px;
}



.row{
    display: block;
}

.table-drag-select td.cell-selected{
    background-color: #22A7E0;
}

.table-drag-select td.cell-being-selected{
    background-color: #708090;
}


.register{
    background-color: black;
  }
  
RaisedButton:hover{
    background-color: #22A7E0;
    color: white;
  }


  .importantAvailabilityFormMessage{
      color: #ef5350;
  }

  .textField{
      background-color: white !important;
      border: 1px solid lightgray;
      border-radius: 5px;
  }
