

.row{
    display: block;
}

.audition{
    margin-bottom: 200px
}


.question {
    margin-top: 10px;
}



.successCard{
    margin-top: 10px
}

#number{
    font-size: 65px;
    margin: 0
}

#regCard{
    text-align: center;
    width: 300px
}

#numArea{
    padding: 0px;
}
