.table-drag-select td  {
    border: 0.1rem solid transparent;
    font-size: 12px;
    text-overflow: clip; 
}

.table-drag-select tr td {
    /* Remove empty space at top of table */
    border-top: 0;
    line-height: 2px;
    padding: 10px
}

.table-drag-select {
    margin-left: 0px
}

.timeLabel {
    text-align: right
}

.availabilityRow:nth-child(odd) {
    border-bottom: 2px solid #ccced3
}

.availabilityTableDragDown{
    width: 700px;
}

@media only screen and (max-width : 1043px)  {

    .availabilityTableDragDown{
        width: 100%;
    }
    
}