/* STEPPER  */
.card-casting{
    width: 95%;
    margin-bottom: 3%;
}

.back-button-styles-css {
    margin: 12 auto !important;
    float: left;
}

.next-button-styles-css {
    margin: 12 auto !important;
    float: right;
}

.steps{
    background-color: transparent !important;
}


/* HEADERS */
th{
    color: #22A7E0;    
    padding:0;
    padding-bottom: 20px;
    border: none;
}

.centerText{
    text-align: center;
}

.check, .checkOne {
    display: inline-block;
    align-items: center;
}

.checkOne {
    padding-left: 30%;
}

.rankDancer{
    align-items: center;
}

.rank {
    padding: 10px;
    text-align: center;
}


/* AVAILABILITY CALENDAR */
.overlapAvailability{
    width: 60%;
    background-color: lightgray;
    height: 100%;
    position: absolute;
    display: inline-block;
    padding: 20px;
}


td{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

/* REMOVE HORIZONTAL LINES IN TABLE */
tr{
    border: none;
}

.categories{
    color: #22A7E0;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 100;
}

/* LAYOUT */
/* small card with cast filter */
.castList{
    width: 100%;
    position: relative;
}

/* HALF CARDS */
/*inside of small card with cast filter*/
.dancersList-filter{
    padding: 20px;
    background-color: white;
}


.dancersList-filter, .extraClass {
    width: 37%;
    position: relative;
    display: inline-block;
    margin-right: 3%;
  }

.castList-v2, .castList-v2-1{
    width: 47%;
}

.castList-v2{
    margin-right: 7%;
}

/* RESOLVE CONFLICTS */
.conflictsCard{
    width: 100%;
    z-index: 1;
}

.conflictMessage{
    font-weight: 500;
    font-size: 15px;
    color: #e65100;
    margin: 0;
    padding: 10px;
}

.smallHeading{
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
}

.choreographersSelecteCast, .restOfCast{
    background-color: white;
    padding: 25px;
}


/* ADD DANCERS */

/* STEP 4 */
.setTimes{
    width: 100%;
    padding: 25px;
    background-color: white;
}

.pickDateTime{
    color: lightblue;
}

.chooseRehearsalTimes{
    position: relative;
}

.buttonsWrap{
    margin-top: 20px;
}

.postCastingWrap{
    margin-top: 10%;
}

.importantText{
    color: #22A7E0;
}

.warningText{
    font-size: 15px;
}