@media only screen and (max-width : 768px) {
    .categories{
        font-size: 12px;
    }

    .avatar, .dancerRank, .userRoleDisp, .avatar2{
        visibility: hidden;
        position: absolute;
    }

    .check{
        width: 20px;
    }

    .castList, .dancersList-filter, .overlapAvailability, .castList-v2, .castList-v2-1, .wrap{
        display: block;
    }

    .dancersList-filter, .overlapAvailability, .castList-v2, .castList-v2-1{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .extraClass, .overlapAvailability{
        width: 100%;
    }

    .extraClass, .overlapAvailability{
        display: block;
    }

    .extraClass{
        z-index: 1 !important;
    }
    .overlapAvailability{
        z-index: 2 !important;
    }
}