@media only screen and (min-width : 768px) 
and (max-width : 1024px)  {

    /* STYLES GO HERE */
    .categories{
        font-size: 12px;
    }

    .avatar, .dancerRank, .userRoleDisp, .avatar2{
        visibility: hidden;
        position: absolute;
    }

    .check{
        width: 20px;
    }

    .castList, .dancersList-filter, .overlapAvailability, .castList-v2, .castList-v2-1, .wrap{
        display: block;
    }

    .dancersList-filter, .overlapAvailability, .castList-v2, .castList-v2-1{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .extraClass, .castList{
        width: 100%;
    }

}
