.announcement {
  padding-bottom: 20px
}

.cardBody{
  background-color: white;
  border: 1px solid #22A7E0;
  border-radius: 3px;
}

.warning{
  background-color:#e65100;
}

.announcementMessage{
  padding: 1px 25px;
  font-weight: 400;
  color: #333;
  
}

.showTitle2{
  font-size: 14px;
}

@media only screen and (max-width : 992px) {

    .dashboard {
      padding-left: 0;
    }
}