.announcement {
  padding-top: 20px;
}

.cardBody{
  background-color: lavender;
  padding: 1px 25px;
  border-radius: 3px;
}

.warning{
  background-color:#e65100;
}

.announcementMessage{

  font-weight: 400;
  color: #333;
  
}

.showTitle2{
  font-size: 14px;
}

@media only screen and (max-width : 992px) {

    .dashboard {
      padding-left: 0;
    }
}