/*NEW AUDITION MESSAGE -- BLUE TONES*/
.newAuditionBorderColor{
  border-left: 6px solid rgb(52, 152, 219);
}

.auditionAnnouncementCardColor{
  padding: 15px 25px;
  background-color: rgb(235, 245, 251);
  width: 100%;
  position: relative;
}

/*COMPLETE PROFILE MESSAGE -- RED TONES*/
.completeProfileBorderColor, .announcementBorderColor {
  border-left: 6px solid rgb(231, 76, 60);
}

.completeProfileCardColor, .announcementCardColor{
  background-color:rgb(253, 237, 236);
}

/*CAST MESSAGE -- BLUE TONES*/
.castBorderColor{
  border-left: 6px solid rgb(52, 152, 219);
  background-color: rgb(235, 245, 251);
}

.announcement {
  margin-top: 20px;
}

.announcementMessage{
  font-weight: 400;
  padding: 15px 25px;
}

div.announcementMessage>p:nth-child(2) {
  color: hsl(0, 0%, 45%);
}

.acceptCastButton{
  margin-left: 25px;
  margin-bottom: 15px;
  margin-top: -25px;
}

.showTitle2{
  font-size: 14px;
}

.auditionHeading{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}

.showInformation{
  position: relative;
  display: inline-block;
}

.buttonToSignUp{
  text-align: right;
  position: absolute;
  display: inline-block;
  vertical-align: bottom;
  right: 0;
  bottom: 0;
  margin-bottom: 25px;
  margin-right: 15px;
}

.linkTurnedIntoButton{
  color: white;
}


@media only screen and (max-width : 768px) {

  .buttonToSignUp{
    text-align: left;
    position: relative;
    display: block;
    margin-bottom: 25px;
    margin-right: 15px;
  }

    .dashboard {
      padding-left: 0;
    }
}