/*PAGE LAYOUT STYLE*/
.mainView{
    padding-left: 5%;
    margin-bottom: 50px;
    max-width: 1500px;
}

.mainContentView{
    margin-top: 70px;
}

.wrap{
    /* display: flex; */
    position: relative;
    height: 100%;
    width: 100%;
}

.wrapFlex{
    display: flex;
}

.pageContentWrap{
    width: 95%;
}

.fullWidthCard, .card2{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 25px;
}

img#photo, .fullWidthCard, .card2, .setTimes, .dancersList-filter, .overlapAvailabilityWrap, .choreographersSelecteCast, .restOfCast, .cardBody{
    border: 1px solid #c0c0c0;
    border-radius: 5px;

}

.transparentCard{
    padding: 0;
}

.fullWidthCard, .card2, .choreographersSelecteCast, .restOfCast, .dancersList-filter, .setTimes{
    background-color: #F6F8FC;
}

h1 {
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 1px;
    color: hsl(0, 0%, 13%);
    text-transform: capitalize;
    margin-bottom: 2%;
}

h2{
    margin: 0;
    padding: 0;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.fa-comment:hover {
    color: red
}

.toggleHeader h2 {
    display: inline-block;
    width: 95%; 
}

.toggleHeader i {
    display: inline-block;
}

/*PEOPLE NAME WITH A LINK TO THEIR PROFILE*/
.personNameLink{
    color: #039be5;
}

.personNameLink:hover{
    text-decoration: underline;
}
span.thumb.active{
    background-color: transparent
 }

 @media only screen and (max-width : 768px) {
    .avatar, .dancerRank, .userRoleDisp, .avatar2, .avatarWrap{
        visibility: hidden;
        width: 0%;
        clear: both;
        display: none;
    }

 }


/*SUPER LARGE SCREEN SIZING*/
 @media only screen and (min-width : 1920px) {
    .mainView{
        width: 1500px;
    }
 }