body{
    background-color: #F6F8FC;
}

.mainView{
    padding-left: 5%;
    margin-bottom: 7%;
}

.wrap{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.card1, .card2, .transparentCard{
    width: 95%;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px;
}

.card1, .card2, .setTimes, .dancersList-filter, .overlapAvailability, .choreographersSelecteCast, .restOfCast{
    border-radius: 5px;
        
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.transparentCard{
    padding: 0;
}

.card1, .card2{
    background-color: white;
}

.table{
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 1px;
    color: #27384A;
    text-transform: capitalize;
    margin-bottom: 2%;
}

h2{
    margin: 0;
    padding: 0;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
