#logo{
    text-align: center;
    background-color: lavender
}

#signOut{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: lavender
}