#logo{
    text-align: center;
    width: 250px;
}

.main {
    padding-left: 240px;
}

.mobile {
    visibility: hidden;
    margin-bottom: 0;
}

.officialLogoImage{
    height: 90%;
    width: 90%;
}

.hamburgerButton{
    position: absolute;
}

.mobileNavLogoWrap{
    display: inline-block;
    width: 100%;
}

.mobileNavLogo{
    bottom: 0;
    height: 46px;
    display: block;
    margin: auto;
}

@media only screen and (max-width : 992px) {
    .main {
      padding-left: 0;
    }

    .mobile {
        visibility: visible;
        margin-bottom: 4%;
    }

    .desktop {
        visibility: hidden
    }
    
}