#logo{
    text-align: center;
    height: 70px;
}

#signOut{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 7%;
    bottom: 7%;
}

.main {
    padding-left: 17%;
}

.mobile {
    visibility: hidden;
    margin-bottom: 0;
}

.officialLogoImage{
    height: 100%;
}

@media only screen and (max-width : 992px) {
    .main {
      padding-left: 0;
    }

    .mobile {
        visibility: visible;
        margin-bottom: 4%;
    }

    .desktop {
        visibility: hidden
    }
    
}