.mobileNavWrap{

    position: relative;
    width: 100%;
    height: 100%;
}

.mobileNav{
    width: 100%;
    height: 100%;
}

.hamburger{
    background-color: #27384A;
    height: 100%;
    width: 100%;
    position: relative;
}

.hamburgerButton{
    background-color: #27384A;
    color: white;
}

.mobileNavItem{
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
}

.menuList{
    margin: 0;
    background-color: #27384A;
    height: 100%;
    width: 100%;
}

.collapsible{
    box-shadow: none;
    border: none;
}

.collapsible-body{
    border: none;
}

.hambMenu{
    box-shadow: none;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
    margin: 0;
}