body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menuList{
    margin-top: -15px;
    height: 100vh;
}

.navigationBg{
    background-color: #27384A;
}

#slide-out {
    background-color: #27384A;
    width: auto;
    max-width: 250px;

}

.side-nav a, .collapsible-header{
    color: white;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 14px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
    padding: 0;
}

Button{
    margin: 0;
}

.side-nav .collapsible-body, .side-nav.fixed .collapsible-body{
    background-color: transparent;
}

.collapsible-body{
    padding: 0px;
    text-indent: 30px;
}

.dropDown:hover, .li:active, .hoverColor:hover{
    background-color: #22A7E0;
}

.hoverColor{
    padding: 0;
    margin: 0;
    width: 100%;
    padding-left: 32px;
}

.signOutDesktop{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 7%;
    bottom: 7%;
}

.desktopSignOutButton{
    bottom: 0;
}



@media only screen and (max-width : 992px) {
    #signOut{
        position: absolute;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
    }
    
}