.bioOfUser{
    width: 55%;
}

td.userEmail{
    padding-left: 10px;
}

/*ADD COLLABORATORS SEARCH*/
.textField{
    background-color: white !important;
    font-size: 14px !important;
    width: 100% !important;
    max-width: 600px !important;
    margin-bottom: 25px;
}

.inputTitle{
    margin-bottom: 5px;
}

.onSearch{
    padding: 0;
    margin: 0;
}

.pieceCard {
    background-color: #EFF3FA;
    width: 95%
}

.pieceCardContents {
    padding: 20px;
    margin-bottom: 20px
}

.dancerPieceToggle {
    margin-right: 20px;
    margin-left: 20px;
    width: 95%
}

.param {
    margin: 10px;
    margin-left: 0;
}

.subsectionheader {
    padding-top: 15px
}

.dividerDiv{
    margin-top: 25px;
    margin-bottom: 10px;
    height: 2px;
    background-color: lightgrey;
    width: 100%;
}

.searchParams{
    margin-top: 25px;
    margin-bottom: 25px;
}

.searchDancersTable{
    margin-top: 25px;
}

/*SEARCH INPUT LABEL INLINE*/
.inputLabelBlock{
    display: inline-block;
    width: 100px;
}

/*MUSICIAN INPUT*/
.musicianInput{
    padding-left: 15px !important;
    width: 100% !important;
    display: inline-block !important;
}

.inputLabelBlock-noWidth{
    display: inline-block;
}

.param-displayInline{
    display: inline-block;
    width: 30%;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen 
and (max-width : 1024px)  {
    .userBioDisp, .bioOfUser, .userRole, .userRoleDisp{
        visibility: hidden;
        width: 0%;
        clear: both;
        display: none;
    }

    .toggleHeader h2{
        width: 80%;
    }

}

@media only screen and (max-width : 768px) {
/*MUSICIAN INPUT*/
.param-displayInline{
    display: block;
    width: 100%;
}
}
