.bioOfUser{
    width: 55%;
}

td.userEmail{
    padding-left: 10px;
}

.textField{
    background-color: white !important;
    
}

@media only screen 
and (max-width : 1024px)  {
    .userBioDisp, .bioOfUser{
        visibility: hidden;
        width: 0%;
        clear: both;
        display: none;
    }

}
