.bioOfUser{
    width: 55%;
}

td.userEmail{
    padding-left: 10px;
}

.textField{
    background-color: white !important;
    
}

.pieceCard {
    background-color: #EFF3FA;
    width: 95%
}

.pieceCardContents {
    padding: 20px;
    margin-bottom: 20px
}

.dancerPieceToggle {
    margin-right: 20px;
    margin-left: 20px;
    width: 95%
}

.param {
    margin: 10px
}

.subsectionheader {
    padding-top: 15px
}

.subSection {
    border-top: solid lightgrey
}


@media only screen 
and (max-width : 1024px)  {
    .userBioDisp, .bioOfUser, .userRole, .userRoleDisp{
        visibility: hidden;
        width: 0%;
        clear: both;
        display: none;
    }

}
