.header, .mainContentBorder{
  width: 100%;
  padding: 2%;
  padding-bottom: 0;
  position: relative;
}

.mainContentBorder {
  margin-bottom: 15px
}

.mainContentBorder{
  padding-top: 25px;
}

.photoContainer {
  position: relative;
  display: inline-block;
  margin-right: 3%;
  vertical-align: bottom;
}

h1#profileName{
  font-size: 28px;
}

.nameWrap, .resumeWrap{
  width: 60%;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.editButton {
  position: absolute;
  padding-bottom: 20px;
  top: 0;
  right: 0;
}

img#photo {
  width: 200px;
  height: 200px;
}

.name, .bio{
  width: auto;
}

.name {
  z-index: 1;
  text-transform: capitalize;
}

.email {
  text-transform: lowercase;
  text-align: left;
}

.bio{
  z-index: 2;
  width: 80%;
}

.bio, .resumeWrap{
  padding-bottom: 25px;
}

.card1, .card2, #photo{
  border-radius: 3px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;  */
}

#editName{
  display: block;
}

#editBio{
  display: block;
}

#historyTitle {
  margin-bottom:15px
}

.showHistory {
  margin-bottom: 15px
}

#history {
  margin-bottom:40px
}

.subheader {
  font-size: 15px;

}

#firstName, #lastName{
  margin-right: 10px;
}

.editButtons {
  margin-bottom: 20px
}

#resumeUpload{
  left: 0;
}

.bioUpload2{
  width: 500px;
}


/*TABLET VIEW*/
@media only screen and (max-width : 1043px)  {
  .photoContainer{
    padding-top: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .header{
    border-bottom: none;
    padding-bottom: 0px;
  }
  
  .nameWrap{
    margin-top: 25px;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 0;
  }

  .resumeWrap{
    position: relative;
  }

  .bio{
    width: 100%;
  }

  img#photo {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 40px;
  }

  h1#profileName, .email{
    text-align: center;
  }
}

@media only screen and (max-width : 414px) {
  .photoContainer{
    width: 100%;
    margin: 0px;
    display: block;
}

  img#photo {
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 40px;
  }
}