body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.header, .mainContentBorder{
  width: 100%;
  padding: 2%;
  position: relative;
}

.photoContainerWrap {
  position: relative;
  display: inline-block;
  margin-right: 3%;
}

.nameAndBioWrap{
  width: 70%;
  position: relative;
  display: inline-block;
}

#edit {
  position: absolute;
  top: 0;
  right: 0;
}

img#photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  
}

.name, .bio{
  width: auto;
}

.name, #editName {
  z-index: 1;
  text-transform: capitalize;
  padding-bottom: 1%;
}

.bio, #editBio{
  z-index: 2;
}

.card1, .card2, #photo{
  border-radius: 3px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;  */
}


#historyTitle {
  margin-bottom:15px
}

.showHistory {
  margin-bottom: 15px
}

#history, #resume {
  margin-bottom:40px
}


.subheader {
  font-size: 15px;

}


#firstName, #lastName{
  margin-right: 10px
}


@media only screen and (max-width : 992px) {

}