@media only screen and (max-width : 768px) {
    .profileCard1{
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .card101{
        position: relative;
    }

    .numberDiv{
        display: block;
        width: 100%;

    }

    .informationalDiv{
        display: block;
        width: 100%;
    }

}