.content {
    margin-left:100px;
    margin-top:35%;
    width: 320px;
  }
  
  .title {
    color:grey;
  }
  
  Button {
    margin: 10px;
  }

  .Functionality {
    display: inline-block;
    float:right;
    min-height: 100%;
    width:50%;
    vertical-align: top;
  }

  LogInPhoto {
    height: 100%;
    display: inline-block;
    width: 50%;
    background-image: url('../imgs/tresmaines.jpg');
    background-repeat: no-repeat;
    background-size: cover
  }
  
  .LogInPhoto > img{
    width: 100%;
    min-height: 100%;
  }

  .signUpExtra {
    background-color: lavender;
  }