/*SIGN UP PAGE */
.signUpLanding {
  background-image: url('../imgs/dance-bw.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;

}
.functionality{
  height: 100vh;
  overflow: scroll;
}

/*SKIP EXTRA SIGN UP INFO*/
.signUpSkipButton{
  background-color: transparent;
  box-shadow: none;
  color: #22A7E0;
  cursor: pointer;
}

/*BIO FORM*/
.bioTextbox{
  display: block;
}

.extra-signup-input-field{
  margin-bottom: 30px;
}

@media only screen and (max-width : 992px) {
  .SignUpLanding {
    background-image: url('../imgs/dance-bw.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
  right: 0;
  }
} 