.signIn-SignUpContent {
    margin-left:100px;
    margin-top:35%;
    width: 320px;
  }

  .functionality {
    float:right;
    min-height: 100%;
    width:50%;
    vertical-align: top;
  }
  
  .title {
    color:grey;
  }
  
  Button {
    margin: 10px;
  }

  .signUpExtra {
    background-color: lavender;
  }

  #bioWarning {
    color: red;
  }
  
  /* 
  LogInPhoto {
    height: 100%;
    display: inline-block;
    width: 50%;
    background-image: url('../imgs/tresmaines.jpg');
    background-repeat: no-repeat;
    background-size: cover
  }
  
  .LogInPhoto > img{
    width: 100%;
    min-height: 100%;
  } */