body,html {
  height: 100%;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.logInLanding {
  background-image: url('../imgs/dance-bw.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.functionality{
  height: 100vh;
  padding: 30px;
  text-align: center;
}

.signInUplogoWrap{
  padding-top: 30px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.signIn-SignUpContent {
  opacity: 0.95;
  background-color: white;
  width: auto;
  max-width: 500px;
  display: inline-block;
  padding: 25px;
  margin: 1%;
  margin-bottom: 8%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.authenticate {
  text-align: left;
  margin-bottom: 50px;
}

.title {
  text-align: center;
  padding-bottom: 10%;
  font-weight: 400;
}

Button {
  margin: 10px;
}

/*FORGOT PASSWORD*/
.submitButton{
  background-color: hsl(0, 0%, 45%) !important;
}

.submitButton:hover{
  background-color: rgb(0, 188, 212) !important;
}

.emailField{
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.link{
  padding-top: 25px;
}

.blueTextLink {
  color: #22A7E0;
  cursor: pointer;
}

.blueTextLink:hover{
  text-decoration: underline;
}

.character-counter {
  visibility: hidden
}

.fa-arrow-circle-left {
  padding-top:20px;
  padding-left:20px;
  cursor: pointer
}

.fa-arrow-circle-left:hover {
  color: lavender
}


@media only screen and (max-width : 992px) {
  .logInLanding {
    background-image: url('../imgs/dance-bw.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
} 