<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Password Reset</title>
</head>
    <body>
    <h1>Hello {{.Name}},</h1>

    <div>We have received a request to reset your password. If this was you please use the code below:</div>
    <p>{{.Code}}</p>
    <div>If this was not you, no further action is required. Your password will remain unchanged.</div>

    <p>
        ===================
        This mail inbox is not monitored. No one will reply to messages sent to this address,
        but feel free to have a conversation with yourself. Note that you'll have to supply
        both sides of the conversation! :)

        Thank you,
        UW STAGE Team
    </p>
    </body>
</html>