h1 {
    text-align: left;
}

.bio-content {
    margin-top: 1em;
    margin-bottom: 2em;
}

label {
    display: block;
    margin-top: 0.5em;
}

#photo-selector {
    margin-top: 0.5em;
    border: 0.5px solid grey;
    width: auto;
}
#upload {
    display: block;
    margin-top: 1em;
}

#bio-input {
    border: 1px solid grey;
    width: 50%;
    height:25%;;
}

#changebio {
    display: block;
    margin-top: 1em;
}