* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    background: lightsteelblue;
    flex: 1.5;
    color: white;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    background: #F6F8FC;
  }
  #content {
    display: flex;
    flex-direction: row;
  }
  #content {
    flex: 4;
    min-height: 60vh;
  }
  header {
    background: lavender;
    min-height: 15vh;
  }
  header, secondNav, article, nav {
    padding: 1em;
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 1em;
  }
  li {
    margin: 0.25em 0;
  }

  object {   
    width: 100%;
  }