/*SEARCH USERS CARD*/
.search-users{
    background-color: #f6f8fc;
    padding: 10px;
    border: 1px solid #d8d8d8;
    width: 60%;
    margin-bottom: 25px;
}

.important-message{
    color: #e65100;
    font-weight: 600;

}


#next {
    float: right
}
#previous {
    float:left
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #d8d8d8;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f6f8fc
}
