body {
    margin:0px;
    text-align: center;
    background-color: #27384A;
    color: white;
}

.main-header{
    margin-top: 150px;
}

.stage-logo{
    width: 200px;
}

.signin-form {
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.email, .password {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

h2 {
    text-align: left;
    margin-bottom: 10px;
}

.imgcontainer {
    text-align: center;
}

img {
    max-width: 100%;
    width: auto;
}

.signin-form input[type="text"],
.signin-form input[type="password"] {
    max-width: 400px;
    width: 100%;
    line-height: 2em;
    border:1px solid #504e4e;
    border-radius:5px;
    padding-left: 10px;
}

#signin {
    margin-top: 2em;
    height: 30px;
    width: 100px;
    border:1px solid #080808;
    border-radius:10px;
}

.reset-password, .signin-return {
    margin-top: 1em;
    margin-bottom: 2em;
    cursor: pointer;
}

.reset-password a, .signin-return a {
    color: white;

}

.forgot-pass-message{
    font-weight: 100;
}

#link-dance-page {
    color:white;
}