

.role-change{
    margin-top: 30px;
}

.change-button{
    margin-top: 15px;
    margin-bottom: 30px;
}


.img-bio-resume, .name-bio-wrap{
    display: inline-block;
    margin-top: 15px;
}

.name-bio-wrap{
    margin-left: 15px;
}

.email-resume, .resume-wrap, .show-history-wrap{
    margin-top: 30px;
}